@{
    ViewData["Title"] = "Admin Dashboard";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    @* Margin-top 5 (high spacing *@
    <div class="container mt-5">
        <h1>Admin Dashboard</h1>
        @* Margin-bottom 4 (high, but little bit less spacing) *@
        <div class="section mb-4">
            <h2>Admin Profile Information</h2>
            <div class="d-flex align-items-center">
                <div id="profileInfo">
                    <h3>Name: <span id="profile-name">@Model.UserProfile.Name</span></h3>
                    <p>Email: <a id="profile-email" href="mailto:@Model.UserProfile.Email">@Model.UserProfile.Email</a></p>
                    <p>Phone: <span id="profile-phone">@Model.UserProfile.Phone</span></p>
                </div>
            </div>
        </div>

        <div class="section mb-4">
            <h2>Update Personal Details</h2>
            <form id="updateProfileForm">
                <div class="form-group">
                    <label for="updated-name">Name</label>
                    <input type="text" class="form-control" id="updated-name" name="name" value="@Model.UserProfile.Name" required>
                </div>
                <div class="form-group">
                    <label for="updated-email">Email</label>
                    <input type="email" class="form-control" id="updated-email" name="email" value="@Model.UserProfile.Email" required>
                </div>
                <div class="form-group">
                    <label for="updated-phone">Phone</label>
                    <input type="text" class="form-control" id="updated-phone" name="phone" value="@Model.UserProfile.Phone" required>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>

        <!-- User Management Table -->
        <div class="section mb-4">
            <h2>User Management</h2>
            <div class="form-group">
                <label for="user-search-name">Search Users:</label>
                <input type="text" id="user-search-name" class="form-control" placeholder="Search by profile username...">
            </div>

            <button class="btn btn-success mb-3" onclick="$('#newUser').show();">Create User Profile</button>

            <!-- Create new user form (hidden by default) -->
            <div class="section mb-4" id="newUser" style="display: none;">
                <h2>New User Profile Details</h2>
                
                <form id="newUserForm">
                    <div class="form-group">
                        <label for="newUser-fullname">Fullname</label>
                        <input type="text" class="form-control" id="newUser-fullname" name="fullname" required>
                    </div>

                    <div class="form-group">
                        <label for="newUser-uname">Username</label>
                        <input type="text" class="form-control" id="newUser-uname" name="username" required>
                    </div>

                    <div class="form-group">
                        <label for="newUser-email">Email</label>
                        <input type="email" class="form-control" id="newUser-email" name="email" required>
                    </div>

                    <div class="form-group">
                        <label for="newUser-password">Password</label>
                        <input type="text" class="form-control" id="newUser-password" name="password" required>
                    </div>

                    <div class="form-group">
                        <label for="newUser-phone">Phone</label>
                        <input type="text" class="form-control" id="newUser-phone" name="phone" required>
                    </div>

                    <div class="form-group">
                        <label for="newUser-address">Address</label>
                        <input type="text" class="form-control" id="newUser-address" name="address" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Create New Profile</button>
                </form>
            </div>

            <table class="table table-bordered" id="allProfilesTable">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Javascript injects code here -->
                </tbody>
            </table>
        </div>

        <!-- Selected User Update Form (hidden by default) -->
        <div class="section mb-4" id="selectUserUpdate" style="display: none;">
            <h2>Update User Profile Details</h2>
            <h4 id="updatingFor">Updating for: </h4>
            <form id="updateUserForm">
                <div class="form-group">
                    <label for="user-fullname">Fullname</label>
                    <input type="text" class="form-control" id="user-fullname" name="name" value="" required>
                </div>

                <div class="form-group">
                    <label for="user-email">Email</label>
                    <input type="email" class="form-control" id="user-email" name="email" value="" required>
                </div>

                <div class="form-group">
                    <label for="user-password">Password</label>
                    <input type="text" class="form-control" id="user-password" name="password" value="" required>
                </div>

                <div class="form-group">
                    <label for="user-phone">Phone</label>
                    <input type="text" class="form-control" id="user-phone" name="phone" value="" required>
                </div>

                <div class="form-group">
                    <label for="user-address">Address</label>
                    <input type="text" class="form-control" id="user-address" name="address" value="" required>
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>

        <!-- Transaction Management -->
        <div class="section mb-4">
            <h2>Transaction Management</h2>
            <div class="form-group">
                <label for="transaction-search-id">Search Transactions:</label>
                <input type="number" id="transaction-search-id" class="form-control" placeholder="Search by Transaction ID...">
            </div>

            <div class="form-group">
                <label><input type="checkbox" id="filter-deposit"> Deposits Only</label>
                <label><input type="checkbox" id="filter-withdrawal"> Withdrawals Only</label>
            </div>

            <table class="table table-bordered" id="allTransactionsTable">
                <thead>
                    <tr>
                        <th onclick="sortTransactions('transaction_id')">Transaction ID <span>&#x25B2;&#x25BC;</span></th>
                        <th>From Account ID</th>
                        <th>Date</th>
                        <th onclick="sortTransactions('amount')">Amount <span>&#x25B2;&#x25BC;</span></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Javascript injects code here -->
                </tbody>
            </table>
        </div>


        <!-- Activity Logs -->
        <div class="section mb-4">
            <h2>
                Activity Logs
                <button class="btn btn-info btn-sm ml-2" onclick="retrieveActivityLogs()">Refresh Logs</button>
            </h2>
            <table class="table table-bordered" id="activityLogsTable">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Action</th>
                        <th>Details</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Javascript will inject the activity logs here -->
                </tbody>
            </table>
        </div>


        <div class="section mb-4">
            <h2>Logout</h2>
            <button class="btn btn-danger" onclick="logout()">Log Out</button>
        </div>


    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <!-- Handles core admin app logic -->
    <script src="~/js/admin/app.js"></script>
    
    <!-- Handles transaction logic -->
    <script src="~/js/admin/transactions.js"></script>

    <!-- Handles all profile-related logic (creating, retrieving, updating, deleting... ) -->
    <script src="~/js/admin/profiles.js"></script>

    <!-- Handles admin-related logging -->
    <script src="~/js/admin/logging.js"></script>

    <!-- Handles admin profile updating/displaying -->
    <script src="~/js/admin/update_admin.js"></script>

    <!-- Code that relies on Razor Components to work properly -->
    <script>
        // Handles what happens when admin profile is updated
        $('#updateProfileForm').submit(function (e) {
            e.preventDefault();

            if (confirm('Are you sure you want to update the admin profile?')) {
                let name = $('#updated-name').val();
                let phone = $('#updated-phone').val();
                let email = $('#updated-email').val();

                $.ajax({
                    url: `/api/BProfile/update`,
                    method: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        Username: '@Model.UserProfile.Username',
                        Password: '@Model.UserProfile.Password',
                        Name: name,
                        Email: email,
                        Address: '@Model.UserProfile.Address',
                        Phone: phone,
                        Picture: '@Model.UserProfile.Picture',
                        isAdmin: true
                    }),
                    success: function (response) {
                        console.log("AJAX response:", response);
                        updateAdminProfileDisplay();
                    },
                    error: function (error) {
                        console.error('Error updating profile: ', error);
                        alert('Error updating profile: ' + error.responseText);
                    }
                });
            }
        });

        // actions that occur when update selected user is clicked
        $('#updateUserForm').submit(function (e) {
            e.preventDefault();
            if (confirm(`Are you sure you want to update the profile for ${selectedUser}?`)) {

                let fullname = $('#user-fullname').val();
                let email = $('#user-email').val();
                let password = $('#user-password').val();
                let phone = $('#user-phone').val();
                let address = $('#user-address').val();

                // Retain the current profile picture if no new picture is provided
                let picture = '@Model.UserProfile.Picture'; // This should default to the current picture
                if (!picture || picture === "404") {
                    picture = '@Model.UserProfile.Picture'; // Keep the existing picture in case of 404 or missing value
                }

                // Check if the password field is empty, if so, keep the original password
                if (!password) {
                    password = '@Model.UserProfile.Password'; // Ensure this value is replaced with the current password
                }

                $.ajax({
                    url: `/api/BProfile/update`,
                    method: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        Username: selectedUser,
                        Password: password,
                        Name: fullname,
                        Email: email,
                        Address: address,
                        Phone: phone,
                        Picture: picture, // Using a placeholder or retaining the current image
                        isAdmin: true
                    }),
                    success: function (response) {
                        console.log("AJAX response:", response);
                        retrieveProfilesList();
                        $('#selectUserUpdate').hide();
                        document.getElementById('allProfilesTable').scrollIntoView({ behavior: 'smooth' });
                    },
                    error: function (error) {
                        console.error('Error updating profile: ', error);
                        alert('Error updating profile: ' + error.responseText);
                    }
                });
            }
        });

    </script>
</body>
